<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<VMCPI FormatVersion="1">
	<config>
		<BS id="BS1" ip="131.234.28.15" port="8000" x="350.0" y="350.0" />
		<!-- <BS id="BS1" ip="131.234.121.214" port="8000" x="350.0" y="350.0" /> -->
		<!-- <RSU id="RSU1" ip="131.234.28.25" port="7000" x="120.0" y="120.0" /> -->
		<CLUSTER_ALGORITHM clust_algo="MapBased" clust_interval="6" entrytimer="2"/>
		<MICROCLOUD id="MC1" x="170" y="174" lanes="6/12to5/12_0" manager="BS1" mc_radius="150.0"/>
		<!--<MICROCLOUD id="MC2" x="120" y="120" lanes="" manager="BS1" mc_radius="150.0"/>-->
	</config>
</VMCPI>

